spring:
  application:
    name: auth-service
server:
  port: 8081
---
spring:
  data:
    redis:
      host: localhost
      port: 6379
  rabbitmq:
    port: 5672
    host: localhost
    username: guest
    password: guest
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 5
          initial-interval: 1000ms
          multiplier: 2.0
          max-interval: 10000ms
        acknowledge-mode: manual

rabbitmq:
  queue:
    update-info-account: 23130075-queue
  exchange:
    update-info-account: 23130075-direct-exchange
  routing-key:
    update-info-account: 23130075-routing-key