spring:
  application:
    name: transaction-service
server:
  port: 8084
---
spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/db_transaction_banking
    username: postgres
    password: 1111
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  rabbitmq:
    listener:
      simple:
        acknowledge-mode: auto
    host: localhost
    password: guest
    username: guest