spring:
  application:
    name: wallet-service
server:
  port: 8083
---
spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/db_wallet_banking
    username: postgres
    password: 1111
---
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
logging:
  config: classpath:log4j2-spring.xml